<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Information</title>
</head>
<body>
    <h1>Student Information</h1>
    <a href="/display">See Table</a><br><br>
    <form action="/save" method="post">
        <label for="first_name">First Name</label>
        <input type="text" name="first_name" required>
        <br><br>
        <label for="last_name">Last Name</label>
        <input type="text" name="last_name" required>
        <br><br>
        <label for="program">Program</label>
        <input type="text" name="program">
        <br><br>
        <label for="address">Address</label>
        <input type="text" name="address" required>
        <br><br>
        <input type="submit" name="submit"><br><br>
    </form>
    
   
</body>
</html>
